body {
  margin: 0;
  color: rgb(15, 15, 15);
  background-color: #ffffff;
  font-family:  'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: #32a3f49d; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.center .slick-center .cen{
  opacity: 1;
  transform: scale(1.08);
  background: #424d8e;
  box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 18px 10px -10px;
  color: rgb(245, 206, 121);
}

.slick-next:before{
  color: rgb(61, 61, 61);
}
/* .center .slick-center h2{
  color: #e67e22;
  opacity: 1;
  transform: scale(1.08);
} */

.diver{
  width: 100%;
}

.cont{
  margin: 0 50px;
}
